.backgroundDefault{
    background: #d1c70d!important;
}
.paligned{
    justify-content: center;
}
.pown{
    margin-top: unset;
}
.navstyle{
    width: 300px!important;
}
.header-align{
    margin-bottom: 20px;
}
.iconstyle{
    cursor: pointer;
}
.colorWhite{
    color: white;
}
.colorWhite::placeholder{
    color:  #ffc107;
}