.background-deafult {
    box-shadow: 0px 2px 8px grey;
    cursor: pointer;
}
.isVisible{
    display: none;
}
.geral-background{
    background: #0e0e0f;
}
.iconStyle{
    float: right;
}
.strippedIn{
    background: #e8e8e8;
}
.strippedOut{
    background: white;
}
.cursorPointer{
    cursor: pointer;
}