.ulCustom {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 175px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }

.liCustom{
    width: 175px;
    transition: width 0.4s;
    }

  .liCustom:hover{
    background-color: #555;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
    width: 240px;
  }

  
  .liCustom a {
    display: block;
    color: #555;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  /* Change the link color on hover */

  .liCustom a:hover {
    background-color: #555;
    color:  #ffc107;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
 